{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}"> {% endcomment %}
</head>
<body class="ma0">
    <header class="ba br1 bg-light-blue avenir"> 
      <nav>
        <div class="pa2 ma2"> 
          <a class="pa1 ma1 link black bg-animate hover-bg-white" href="{% url "core-home" %}">Home</a>
          <a class="pa1 ma1 link black bg-animate hover-bg-white" href="#">About</a>
          <div class="fr ma0 pa0">
            <a class="pa1 ma1 link black bg-animate hover-bg-white" href="#">Sign Up</a>
            <a class="pa1 ma1 link black bg-animate hover-bg-white" href="#">Login</a>
            </div>
            {% comment %} <li><a href="{% url 'book_detail' slug=book.slug %}"> {{ book.title }} </a></li> {% endcomment %}
        </div>
      </nav>
    </header>
        {% block content %}{% endblock %}
  </body>
</html>
